@page
@model barangin.Views.Barang.UpdateBarang.Update

<h1>Halaman Update</h1>

<div>
    <div>
        <label for="NamaBarang">Nama Barang:</label>
        @* <p>@Model.NamaBarang</p> *@
        <input type="text" id="NamaBarang" name="NamaBarang" required />
    </div>

    <div>
        <label for="Qty">Qty:</label>
        <input type="number" id="Qty" name="Qty" required />
    </div>

    <div>
        <a href="/"><button type="button">Back to Home</button></a>
    </div>

</div>